.App {
  display: flex;
  justify-content: center;
  padding: 3rem 3%;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input, textarea{
  display: block;
  width: 600px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

textarea{
  height: 120px;
  resize: none;
}

.form-control{
  margin-bottom: 20px;
}

.error{
  color: red;
}